/*
	@name candidate_list
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; /*overflow-x:hidden;*/ }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative; width: 1920px; height: 1080px; margin-left: auto; margin-right: auto;  }

#_bg__candidate_list {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background:rgba(214,214,214,255);
}

#group_24 {
	top: 136px;
	left: 144px;
	width: 723px;
	height: 653px;
}
#_6 {
	top: 543px;
	left: 0px;
	width: 723px;
	height: 110px;
}

#can_logo_6 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#can_name_6 {
	top: 0px;
	left: 139px;
	width: 584px;
	height: 110px;
}

#can_name_6_ek1 {
	top: 0px;
	left: 0px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#_5 {
	top: 434px;
	left: 0px;
	width: 723px;
	height: 110px;
}

#can_logo_5 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#can_name_5 {
	top: 0px;
	left: 139px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#_4 {
	top: 325px;
	left: 0px;
	width: 723px;
	height: 110px;
}

#can_logo_4 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#can_name_4 {
	top: 0px;
	left: 139px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#_3 {
	top: 216px;
	left: 0px;
	width: 723px;
	height: 110px;
}

#can_logo_3 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#can_name_3 {
	top: 0px;
	left: 139px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#_2 {
	top: 108px;
	left: 0px;
	width: 723px;
	height: 110.00001525879px;
}

#can_logo_2 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#can_name_2 {
	top: 0px;
	left: 139px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#_1 {
	top: 0px;
	left: 0px;
	width: 723px;
	height: 110px;
}

#can_logo_1 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#can_name_1 {
	top: 0px;
	left: 139px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#group_25 {
	top: 136px;
	left: 1046px;
	width: 723px;
	height: 653px;
}
#_6_ek1 {
	top: 543px;
	left: 0px;
	width: 723px;
	height: 110px;
}

#can_logo_6_ek1 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#can_name_6_ek2 {
	top: 0px;
	left: 139px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#_5_ek1 {
	top: 434px;
	left: 0px;
	width: 723px;
	height: 110px;
}

#can_logo_5_ek1 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#can_name_5_ek1 {
	top: 0px;
	left: 139px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#_4_ek1 {
	top: 325px;
	left: 0px;
	width: 723px;
	height: 110px;
}

#can_logo_4_ek1 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#can_name_4_ek1 {
	top: 0px;
	left: 139px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#_3_ek1 {
	top: 216px;
	left: 0px;
	width: 723px;
	height: 110px;
}

#can_logo_3_ek1 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#can_name_3_ek1 {
	top: 0px;
	left: 139px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#_2_ek1 {
	top: 108px;
	left: 0px;
	width: 723px;
	height: 110.00001525879px;
}

#can_logo_2_ek1 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#can_name_2_ek1 {
	top: 0px;
	left: 139px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#_1_ek1 {
	top: 0px;
	left: 0px;
	width: 723px;
	height: 110px;
}

#can_logo_1_ek1 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#can_name_1_ek1 {
	top: 0px;
	left: 139px;
	width: 582px;
	height: 108px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#candidates {
	top: 32px;
	left: 500px;
	width: 894px;
	height: 192.5px;
	overflow: hidden;
	font-family: Bookman Old Style;
	font-size: 75px;
	text-align: center;
	line-height: 75px;
	color:#2a3439;
}


#choose_candidate_ {
	top: 896px;
	left: 198px;
	width: 426px;
	height: 87.5px;
	overflow: hidden;
	font-family: Bookman Old Style;
	font-size: 45px;
	text-align: left;
	line-height: 45px;
	color:#707070;
}

select
{
	width: 582px;
	height: 108px;
	font-family: Bookman Old Style;
	font-size: 30px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #707070;
	border-radius: 4px;
	background:rgba(255,255,255,255);
}
#dropdown {
	top: 861px;
	left: 654px;
	width: 582px;
	height: 108px;
	border: 0px solid #707070;

}
button
{
	font-family: Bookman Old Style;
	font-size: 40px;
	color:white;
	width: 243px;
	height: 69px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #707070;
	background:rgba(61,158,116,255);
	cursor: pointer;
}
#group_26 {
	top: 881px;
	left: 1288px;
	width: 245px;
	height: 71px;
}

#select {
	top: 0px;
	left: 0px;
	width: 243px;
	height: 69px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #707070;
	background:rgba(61,158,116,255);
}


#vote {
	top: 12px;
	left: 78px;
	width: 90px;
	height: 75px;
	overflow: hidden;
	font-family: Bookman Old Style;
	font-size: 40px;
	text-align: left;
	line-height: 40px;
	color:#ffffff;
}



/* Add your custom CSS here */
